<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Game Records</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Game Records", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Games and Stats", "Index", "GameStats")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-wrench"></span> Maintenance<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">

                                <li><a href="@Url.Action("Index", "User")"><span class="glyphicon glyphicon-user"></span> User</a></li>
                                @*<li><a href="@Url.Action("Index", "Game")">Game</a></li>*@
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#"><span class="glyphicon glyphicon-star"></span> Game</a>
                                    <ul class="dropdown-menu">
                                        @*<li><a tabindex="-1" href="#">Second level</a></li>*@
                                        <li><a href="@Url.Action("Index", "Game")">Game List</a></li>
                                        <li><a href="@Url.Action("Index", "GameType")">Game Types</a></li>
                                        <li><a href="@Url.Action("Index", "Hero")">Heroes</a></li>
                                        <li><a href="@Url.Action("Index", "Weapon")">Weapons</a></li>
                                    </ul>
                                </li>

                                <li><a href="@Url.Action("Index", "Maintenance")"><span class="glyphicon glyphicon-stats"></span> Stats</a></li>
                                <li><a href="@Url.Action("Index", "Fields")"><span class="glyphicon glyphicon-list"></span> Fields</a></li>
                            </ul>
                        </li>
                    }


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Game Records</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>

    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover > a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

            .dropdown-submenu.pull-left > .dropdown-menu {
                left: -100%;
                margin-left: 10px;
                -webkit-border-radius: 6px 0 6px 6px;
                -moz-border-radius: 6px 0 6px 6px;
                border-radius: 6px 0 6px 6px;
            }
</style>
